html, body{
  padding: 0;
  margin: 0;
  background: #333;
  width: 100%;
  height: 100%;
  color: #fff;
  margin:auto;
  font-family: 'Roboto';
  overflow:hidden;
}

div{
  /*border-radius: 5px;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;*/
  /*padding:10px;*/
  box-sizing: border-box;
}

#title{
  text-align: center;
}

#left{
  display:flex;
  border-style: solid;
  border-color:black;
  flex-direction: column;
  border-width: 3px;
  border-left-width:0px;
  border-bottom-width:0px;
  border-top-width:0px;
  width: 30%;
  min-height: 100%;
  background:#111;
  position:absolute;
}

#right{
  border-width: 1px;
  height: 100%;
  width: 70%;
  float:right;
  position:relative;
  display:flex;
  flex-direction:column;
}

#tabs{
  background:#222;
  text-align:center;
}

.tab{
  border-style:solid;
  border-width:2px;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  padding:7px;
  width:50%;
}

.tab.selected{
  border-color:#08949C;
  background: #08949C;
}

.tab.deselected{
  border-color:#111;
  background:#444;
}

#window2{
  display:flex;
  flex-direction: column;
  background: #08949C;
  height:100%;
  flex:1;
  z-index:1;
}

#tableWindow{
  height:1px;
  flex:1;
  overflow-y:scroll;
}

/* Track */
::-webkit-scrollbar-track {
    background: #08949C; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*
The window on the bottom of the left side with the ability to edit the data set
*/
#editingWindow{
  height:127px;
  background:#08949C;
  border-style: solid;
  border-radius:0px;
  border-color:#086A7B;
  border-width:0px;
  border-top-width:3px;
  display: grid;
  grid-template-columns: 1fr 25% 25% 25% 1fr;
  grid-template-rows: 30 99fr 1fr;
}

#textFields{
  background:#444;
}

#editingButtons{
  background:#444;
}

.flexSpacing{
  flex:1;
}

#undoButton{
  display:flex;
  flex-direction:row;
  grid-column-start:1;
  grid-row-start:1;
  grid-row-end:5;
  font-size:14px;
}

#undoLabel{
  writing-mode:vertical-rl;
  flex:1;
  -webkit-transform: rotate(180deg);
}

#redoLabel{
  writing-mode:vertical-rl;
  flex:1;
}

#randomButton{
  grid-column-start:2;
  grid-column-end:5;
  grid-row-start:1;
}

#redoButton{
  display:flex;
  flex-direction:row;
  grid-column-start:5;
  grid-row-start:1;
  grid-row-end:5;
  font-size:14px;
}

#applyButton{
  background:#33cc33;
  border-color:#33cc33;
  grid-column-start:2;
  grid-column-end:5;
  grid-row-start:3;
  grid-row-end:5;
  font-size:20px;
}

input{
  margin:2px;
}

button{
  padding-left:1px;
  padding-right:1px;
  margin:2px;
  border-radius:10px;
}

#xInput{
  grid-column-start:2;
  /*grid-column-end:3;*/
  grid-row-start:2;
}

#yInput{
/*  grid-column-start:4;
  grid-column-end:5;*/
  grid-column-start:3;
  grid-row-start:2;
}

#zInput{
  /*grid-column-start:6;
  grid-column-end:7;*/
  grid-column-start:4;
  grid-row-start:2;
}

/*
Headers for the data table
*/
#tableHeaders{
  display:flex;
  text-align:center;
  border-style:solid;
  border-width:0px;
  border-bottom-width:3px;
  border-color:#086A7B;
}

#selectAll{
  flex:2; 
  padding-left:5px;
  padding-top:5px;
  border:0px solid #086A7B;
  border-right-width:2px;
}

.dataHeader{
  flex:4;
  border:0px solid #086A7B;
  border-right-width:2px;
  padding:5px;

  padding-top:7px;
}

#deleteAll{
  flex:1;
  padding:7px;
  padding-top:5px;
  border:0px solid #086A7B;
}

/*
Things pertaining to one row of data (displayed in the left side)
*/
.vector{
  display: flex;
  border:2px solid #333;
  border-left-width:0px;
  border-right-width:0px;
  background:#444;
}

.vector.selected{
  background:#555;
}

.leftSpacing{
  flex:1;
}

.selectContainer{
  flex:1;
  text-align:center;
  border: 0px solid #333;
  border-right-width:2px;
  padding-right:4.3px;
}

.selectIndicator{
  flex:1;
  margin-top:7.5px;
  margin-bottom:7.5px;
  max-width:15px;
  margin-left:-4.875px;
  margin-right:2.715px;
  border:1px solid #888;
  background:#333;
  height:15px;
  }

  .selectIndicator.selected{
    background:#777;
  }

.deleteButton{
  flex:1;
  margin:5px;
  padding:0px;
}

.coordLabel{
  flex:4;
  border:0px solid #333;
  border-right-width:2px;
  padding:5px;
}

.scrollSpacing{
  width:17px;
}

#title{
  background:#222;
}

/*
The options menu
*/
#window1{
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 118.475px;
  background: #08949C;
}

#window1.invisible{
  z-index:0;
}

/*
The container for whatever 3D thing will go in here
*/
#viewWindow{
width:100%;
flex:1;
background:#222;
}

/* 
The bottom of the right side (below the 3d view)
*/
#windowBottom{
  display:flex;
  flex-direction: row;
  /*position:absolute;*/
  /*bottom:1;*/
  height:112px;
  min-width:100%;
}

.controlWindow{
  border-style: solid;
  width:150px;
  min-height:127px;
  margin-top:-15px;
  /*border-width:6px;*/
  border-width:3px;
  border-radius:0px;
  border-bottom-width:0px;
  border-color:#086A7B;
  bottom:0;
  z-index:2;
  /*background:#555;*/
  background:#08949C
}

#cameraControl{
  border-top-right-radius:7px;
  left:0;
  border-left-width:0px;
  display:grid;
  grid-template-rows:1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left:10px;
  padding-right:10px;
}

#cameraPresets{
  border-top-left-radius:7px;
  right:0;
  border-right-width:0px;
}

#camControlLabel{
  grid-row-start:1;
  grid-column-start:1;
  grid-column-end:5;
  text-align: center;
  padding-top:5px;
}

#centerBackground{
  grid-row-start:3;
  grid-column-start:2;
  background:#555;
  margin:0px;
  border:none;
  padding:0px;
  display:grid;
}

#camControlCenter{
  background:#666;
  border:2px solid black;
  border-radius:5px;
}

.camButton{
  background:#555;
  border: 2px solid black;
  border-radius:5px;
  margin: 0px;
}

.camButton.up{
  grid-row-start:2;
  grid-column-start:2;
  border-bottom-width:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.camButton.left{
  grid-row-start:3;
  grid-column-start:1;
  border-right-width:0px;
  border-bottom-right-radius:0px;
  border-top-right-radius:0px;
}

.camButton.right{
  grid-row-start:3;
  grid-column-start:3;
  border-left-width:0px;
  border-bottom-left-radius:0px;
  border-top-left-radius:0px;
}

.camButton.down{
  grid-row-start:4;
  grid-column-start:2;
  border-top-width:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}

.zoom{
  background:#555;
  border:2px solid white;
  grid-column-start:4;
  color:white;
  font-size:18px;
  border-radius:13px;
  font-style:bold;
}

.zoom.in{
  grid-row-start:2;
}

.zoom.out{
  grid-row-start:4;
}

/*
The bottom part of the right side that shows the current regression equation
*/
#regInfo{
  flex:1;
  display: grid;
  grid-gap: 0px;
  border:none;
}

#equation{
  padding:10px;
  padding-left:7%;
  padding-top:20px;
  background:#444;
  grid-column-start:1;
  grid-row-start: 1;
}

#rSquared{
  padding:10px;
  padding-left:7%;
  background:#444;
  grid-column-start:1;
  grid-row-start:2;
}

.graphLabel{
  position:absolute;
  z-index:1;
}