html, body{
  padding: 0;
  margin: 0;
  background: #333;
  width: 100%;
  height: 100%;
  color: #fff;
  margin:auto;
  font-family: 'Roboto';
  overflow:hidden;
}

div{
  /* border-radius: 5px; */
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  /*padding:10px;*/
  box-sizing: border-box;
}

#title{
  text-align: center;
  background:#222;
}

#left{
  display:flex;
  border-style: solid;
  border-color:black;
  flex-direction: column;
  border-width: 3px;
  border-left-width:0px;
  border-bottom-width:0px;
  border-top-width:0px;
  width: 30%;
  min-height: 100%;
  background:#111;
  position:absolute;
}

#right{
  border-width: 1px;
  height: 100%;
  width: 70%;
  float:right;
  position:relative;
  display:flex;
  flex-direction:column;
}

#tabs{
  background:#222;
  text-align:center;
}

#canvas{
  height:100%;
}

.tab{
  border-style:solid;
  border-width:2px;
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  padding:7px;
  width:50%;
}

.tab.selected{
  border-color:#08949C;
  background: #08949C;
}

.tab.deselected{
  border-color:#111;
  background:#444;
}

#window2{
  display:flex;
  flex-direction: column;
  background: #08949C;
  height:100%;
  flex:1;
  z-index:1;
}

#tableWindow{
  height:1px;
  flex:1;
  overflow-y:scroll;
}
/*
The options menu
*/
#window1{
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 118.475px;
  background: #08949C;
}

#window1.invisible{
  z-index:0;
}

#ruleButtonContainer{
  display: grid;
  grid-template-columns: auto auto;
  width:200px;
  height:200px;
}

.quadrant{
  display:grid;
  width:100%;
  height:100%;
  grid-template-columns:auto auto;
}
.rule.selected{
  background:#555;
}
.rule{
  background:#FFF;
}
/*
The container for the Canvas
*/
#viewWindow{
width:100%;
flex:1;
background:#222;
}

.flexSpacing{
  flex:1;
}

input{
  margin:2px;
}

button{
  padding-left:1px;
  padding-right:1px;
  margin:2px;
  border-radius:10px;
}

.leftSpacing{
  flex:1;
}

.scrollSpacing{
  width:17px;
}